In [4]:
import numpy
import pandas 
import seaborn
from matplotlib import pyplot

%matplotlib inline

In [8]:
data_frame = pandas.read_csv('kyphosis.csv')
data_frame.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [9]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Kyphosis  81 non-null     object
 1   Age       81 non-null     int64
 2   Number    81 non-null     int64
 3   Start     81 non-null     int64
dtypes: int64(3), object(1)
memory usage: 2.7+ KB

In [ ]:
seaborn.pairplot(data_frame, hue='Kyphosis')